* {
    margin: 0;
}




.rectangle {
    width: 500px;
    height: 300px;
    background-color: red;
    /*margin: 5%;
    con le percentuali la pagina si adatta e non c'è la barra*/
    margin-bottom: 30px;
}

.square {
    width: 300px;
    height: 300px;
    background-color: blue;
    padding: 20px;
    box-sizing: border-box;
}