* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    background-color: red;
}

@media screen and (max-width: 768px) {
    body {
        background-color: green  ;
    }
}*/


.images {
    display: flex;
    flex-wrap: wrap;
}

.images img {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .images img {
        width: 100%;
    }
}